body {
	margin:0;
	background-color:#000000;
	}
	
h1 {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 14em;
	line-height: 80%;
	letter-spacing: 200%;
	padding:0;
	color:#ffffff;
	text-transform:uppercase;
	}
	
#content {
	width:95%;
	margin:auto;
	padding: 2.5%;
	color: #ffffff;
	}
	
.center {
	text-align: center;
	width: 95%;
	}
	
.static {
	position: fixed;
	z-index:1;
	}
	
.wideleftmargin {
	padding: 0 5% 5% 25%;
	z-index: 10;
	position: relative;
	background-color:black;
	}
	
li {
	font-family: Helvetica, Arial, sans-serif;
	}